a {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-style: solid;
    border-color:
}
h1 {
    color: green;
}

body {
    display: grid;
    grid-template-columns: 1 / 4;
    grid-template-rows:
    margin: 0px;
    padding: 0px;
}

main {

    padding: 16px;
    margin: 1px
}

footer {
    padding: 24px 0; /* Top and bottom padding: 24px, Left and right padding: 0 */
    background-color: brown;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black; /* Black 1-pixel bottom border */
    padding: 16px;
}

html {
    box-sizing: border-box;
}
* {
    box-sizing:inherit;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates four equal-width columns */
    gap: 10px; /* Adds spacing between grid items, adjust as needed */
} */

.list-item {
    /* Style for each list item, e.g., border, padding, background color */
    border: 10px solid #ccc;
    padding: 30px;
    background-color: #f0f0f0;
} */
